wandb
outputs
.hydra
__pycache__
lightning_logs
data/d*
data/I*
data/T*
data/FI_2010/*.txt
data/BTC
env
preprocessing/digital*
data/checkpoints/TLOB/v*
venv/
data/eth/
eth_features_normalized.npy
eth_labels.npy
*.npy
harmonized_data/
data/experiments/benchmark_grid/runs/
data/experiments/benchmark_grid/reports/
experiments/**/__pycache__/
data/FI_2010/*.zip